<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
                <%= image_tag 'profile.png' %>
                <br>
                <br>
                <p class="text-faded">Hi there! I am a Full Stack Web Developer currently living in the amazing city of Toronto, Canada where I grew up. I have a Master's degree in Economics and a Teaching degree in Math, but my passion lies in software developement and code. I work primarily with Ruby on Rails and JavaScript. Have a look at some of my <u><a style="color:#FFF" class="page-scroll" href="#portfolio">projects</a></u> and <u><a style="color:#FFF" href="#">blog posts</a></u>. Need help with an upcoming project or application? Learn a bit more about my <u><a style="color:#FFF" class="page-scroll" href="#services">services</a></u> and then consider hiring me.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Get in touch</a>
            </div>
        </div>
    </div>
</section>

