<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Web Developer</h2>
                <hr class="light">
                <p class="text-faded">Hey, I’m an independent web & software developer from Toronto, Canada. I work primarily with Ruby on Rails and JavaScript. Have a look through some of my <u><a style="color:#FFF" class="page-scroll" href="#portfolio">projects</a></u> and <u><a style="color:#FFF" href="#">blog posts</a></u>. Need help with an upcoming project or application? Learn a bit more about my <u><a style="color:#FFF" class="page-scroll" href="#services">services</a></u> and then consider hiring me.</p>
                <a href="#contact" class="btn btn-default btn-xl">Contact Me!</a>
            </div>
        </div>
    </div>
</section>

