<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>See more on</h2>
            <a href="https://github.com/lbrian357" class="btn btn-default btn-xl wow tada">GitHub</a>
        </div>
    </div>
</aside>

