<header id="home">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Brian Li</h1>
            <hr>
            <p>Full Stack Web Developer and UI/UX enthusiast</p>
        </div>
    </div>
    <div class="header-arrow-down">
        <a href="#about" class="btn btn-primary btn-xl page-scroll"><%= image_tag 'white-arrow-down.png' %></a>
    </div>
    <div class="header-social">
        <ul class="list-inline">
            <li>
                <a href="https://twitter.com/lbrian357">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://ca.linkedin.com/in/lbrian357">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://github.com/lbrian357">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</header>

