<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary"></i>
                    <h3>Web Development</h3>
                    <p class="text-muted">Development for personal and business websites. Flexibly built from the ground up or around a CMS.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-desktop wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <i class="fa fa-4x fa-mobile wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Responsive Design</h3>
                    <p class="text-muted">Ensuring a seamless experience on any device.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paint-brush wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>UI / UX Design</h3>
                    <p class="text-muted">Stylish and easy-to-use interface.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gears wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Maintenance</h3>
                    <p class="text-muted">Services are available for projects that require ongoing support and maintenance.</p>
                </div>
            </div>
        </div>
    </div>
</section>

